.role {
	text-transform: uppercase;
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
}

.teacher {
	background-color: #61dafb;
}

.student {
	background-color: #61fb6e;
}

.Other {
	background-color: rgb(181, 181, 181);
}
